@model IEnumerable<SimpleCourseManagement.Models.Course>

@{
    if (Session["UserDetailsId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "All Courses";
}
<div class="col-md-10">

    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">All Course List</div>
        </div>
        <div class="panel-body">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Is Active</th>
                        <th>Created Date</th>
                        <th>User</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd gradeX">
                            <td class="">@Html.DisplayFor(modelItem => item.CourseCode)</td>
                            <td class="">@Html.DisplayFor(modelItem => item.CourseName)</td>
                            <td class="">
                                @{
                                    if (item.IsActive)

                                    {
                                        <text>Yes</text>
                                    }
                                    else
                                    {
                                        <text>No</text>
                                    }
                                }
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedDateTime)</td>
                            <td>@Html.DisplayFor(modelItem => item.UserDetail.UserName)</td>
                            <td><a class="btn btn-primary btn-sm" href=@Url.Action("Edit","Courses",new { id = item.CourseId })>Update</a></td>
                        </tr>
                      }
                </tbody>
            </table>
        </div>
    </div>
</div>